@import "tailwindcss";

:root {
    background-color: #ECF0F1;

}

.mainContainer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height:150px;
}


